[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
    ignore = dirty
[submodule "spacemacs.d/vc-clearcase"]
	path = spacemacs.d/vc-clearcase
	url = https://github.com/alex-hhh/vc-clearcase.git
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/bundle/Wombat"]
	path = vim/bundle/Wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-gitbranch"]
	path = vim/bundle/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "vim/bundle/peaksea"]
	path = vim/bundle/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/context.vim"]
	path = vim/bundle/context.vim
	url = https://github.com/wellle/context.vim
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/bundle/vim-smooth-scroll"]
	path = vim/bundle/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "vim/bundle/ReplaceWithRegister"]
	path = vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "vim/bundle/gtags.vim"]
	path = vim/bundle/gtags.vim
	url = https://github.com/ivechan/gtags.vim
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/bundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/asyncrun.vim"]
	path = vim/bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "vim/bundle/async-grepper"]
	path = vim/bundle/async-grepper
	url = https://github.com/paretje/async-grepper
